/* Header- Enquire Now Buttong */
.btn-bg1 {
    background-color: #FBEA51 !important;
    border-radius: 30px;
}

.input-field-default::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #103d39;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #103d39;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #103d39;
}


/* Login Button */
.btn-bg2 {
    background-color: #CFE0CE;
    border-radius: 30px;
    margin-left: 0px !important;
}

/* Header button text color */
.btn__text {
    color: #103D39 !important;
}


#menu-item-177 {
    font-family: 'objectsans-regular' !important;
}

/* Footer Lower */
.footer__lower {
    background-color: white !important;
    color: #379E8F !important;
}

/* Footer Links */
.footer_links {
    font-family: 'objectsans-regular' !important;
    text-decoration: none;
    color: #103D39 !important;
}

/* Align Text - Center */
.text-center {
    text-align: center !important;
}

/* Enquire Now Button*/
.get-in-touch-button {
    background-color: #FBEA51 !important;
    border-radius: 30px;
    color: #383E39 !important;
    border-color: #FBEA51;
    padding: 10px !important;
    font-family: "objectsans-bold" !important;
    font-size: 16px !important;
}

/* Hero Image Button */
.hero_image_button {
    margin-top: 0.75rem !important;
    width: 35%;
    border-radius: 30px !important;
    background-color: #fbea51 !important;
    color: #263d39 !important;
    /*font-weight: 700;*/
    border-color: transparent !important;
    font-size: 16px !important;
    font-family: 'objectsans-bold' !important;
}

/* Hero Image Button */
.finder_fee_button {
    margin-top: 0.75rem !important;
    width: 35%;
    border-radius: 30px !important;
    background-color: #fbea51 !important;
    color: #263d39 !important;
    /*font-weight: 700;*/
    border-color: transparent !important;
    font-size: 16px !important;
    font-family: 'objectsans-bold' !important;
}

.hero_tracking_button {
    margin-top: 0.75rem !important;
    /*width: 35%;*/
    border-radius: 30px !important;
    background-color: #fbea51 !important;
    color: #263d39 !important;
    /*font-weight: 700;*/
    border-color: transparent !important;
    font-size: 16px !important;
    font-family: 'objectsans-bold' !important;
}

.become_a_zee_hero_button {
    margin-top: 0.75rem !important;
    width: 35%;
    border-radius: 30px !important;
    background-color: #fbea51 !important;
    color: #263d39 !important;
    /*font-weight: 700;*/
    border-color: transparent !important;
    font-size: 16px !important;
    font-family: 'objectsans-bold' !important;
}

/* Lift button on hover */

.lift {
    -webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.lift:hover,
.lift:focus {
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
}

.lift-lg:hover,
.lift-lg:focus {
    box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}

/*Underline "Our Proimises" header menu on active*/
#menu-primary .menu-item-489.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-primary .menu-item-177.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-177 .menu-item-993.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-177 .menu-item-1008.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-177 .menu-item-1198.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-177 .menu-item-1316.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-489 .menu-item-1479.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-489 .menu-item-1338.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-176 .menu-item-1515.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
#menu-item-2164 .menu-item-2164.active {
    text-decoration: underline !important;
}

/*Underline header menu on active page*/
.menu-item-177.current-menu-parent {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}

.menu-item-2164.current-menu-parent {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}

/*Underline header menu on active page*/
.menu-item-489.current-menu-parent {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}

/*Underline header menu on active page*/
.menu-item-176.current-menu-parent {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}


/*Logo Height in header section*/
.logo {
    top: 0px !important;
    max-height: 40px !important;

}

/*Input field error*/
.input-field-error {
    border-color: #f4524d !important;
    color: #f4524d !important;
}

/*Input field default*/
.input-field-default {
    color: #263d39 !important;
}



/* Checked List  */
.check_img_list li {
    padding-left: 40px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/Check-2.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    line-height: 1.25;
    margin-bottom: 15px !important;
    list-style: none !important;
    background-size: 26px !important;
}

.normal_list li {
    padding-left: 40px !important;
    /* background: url(https://mailplus.com.au/wp-content/uploads/2021/02/Check-2.png) no-repeat 0px 5px !important; */
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    line-height: 1.25;
    margin-bottom: 15px !important;
    list-style: inside !important;
    background-size: 26px !important;
}

/* Numbered List - 1 */
.numbered_list_1 {
    padding-left: 50px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number1.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    list-style: none !important;
    background-size: 36px !important;
    margin-bottom: 20px !important;
    /*  line-height: 1.2; */
}

/* Numbered List - 2 */
.numbered_list_2 {
    padding-left: 50px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number2.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    list-style: none !important;
    background-size: 36px !important;
    margin-bottom: 20px !important;
    line-height: 1.2;
}

/* Numbered List - 3 */
.numbered_list_3 {
    padding-left: 50px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number3.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    list-style: none !important;
    background-size: 36px !important;
    margin-bottom: 20px !important;
    line-height: 1.2;
}

.numbered_list_4 {
    padding-left: 50px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number4.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    list-style: none !important;
    background-size: 36px !important;
    margin-bottom: 20px !important;
    line-height: 1.2;
}

.numbered_list_5 {
    padding-left: 50px !important;
    background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number5.png) no-repeat 0px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 0px 08px;
    list-style: none !important;
    background-size: 36px !important;
    margin-bottom: 20px !important;
    line-height: 1.2;
}

/* Testimonials - Designation */
.tpro-client-designation-company {
    font-family: "objectsans-regular" !important;
}

/* Testimonial Content */
.tpro-client-testimonial {
    font-family: "objectsans-regular" !important;
}

/* Replace favicon star with star image */
.fa.fa-star {
    background-image: url("https://mailplus.com.au/wp-content/uploads/2021/05/Star.png");
    content: "";
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
}

/*All header text font size*/
.blog-header-text {
    font-size: 25px !important;
}

/*All body text font size*/
.blog-body-text {
    font-size: 18px !important;
}

/*icon color*/
.vc_toggle_size_md.vc_toggle_arrow .vc_toggle_icon::before {
    border-color: #379E8F !important;
}

.vc_toggle_size_md.vc_toggle_arrow .vc_toggle_icon::after {
    border-color: #379E8F !important;
}

/*Increase size of stars*/
.sp-testimonial-pro-section .tpro-client-rating i.fa {
    font-size: 30px !important;
}

/*Dropdown edges sharp*/
.dropdown .dropdown__content {
    border-radius: 0px !important;
}

.ig_grid_row1_col1 {
    padding: 0px !important;
    margin-bottom: 0px !important;
}



.article-hero-image-caption {
    margin-bottom: 0px;
}

.footer-6 {
    padding-top: 6.428571em !important;
}

#menu1 .container {
    width: 90% !important;
}

/*Tracking Page - Cockatoo*/
/*.n2-ss-slide-63 .n2-ss-layers-container{
    margin: 15px !important;
}*/

.n2-ss-slide-64 .n2-ss-layers-container {
    margin: 15px !important;
}



/* Full Width Screens */
@media screen and (min-width: 1200px) {
    /*     .hero_image_text {
        width: 50%;
    } */

    .zee_header {
        margin-top: 45% !important;
    }

    .van_image_become_zee {
        margin-top: 25% !important;
    }

    .ig_grid_row2_col1 {
        /*padding: 0px !important;*/
        padding-top: 20px !important;
        /*margin-bottom: 0px !important;*/
    }

    .article-hero-image-caption {
        margin-left: 12px;
    }

    /*#menu-primary {
        width: 105%;
        margin-left: -60px
    }*/

    .menu-horizontal {
        position: absolute !important;
    }

    .dropdown__content {
        width: 110%;
    }

    /*Post Office Solutions - Smart Slider code 17*/
    #n2-ss-17item1 {
        font-size: 55px !important;
    }

    #n2-ss-17item2 {
        font-size: 24px !important;
        width: 75% !important;
    }

    /*Post Office Solutions - Smart Slider code 25*/
    #n2-ss-25item1 {
        font-size: 55px !important;
    }

    #n2-ss-25item3 {
        font-size: 55px !important;
    }

    /*MailPlus Express - Smart Slider code 18*/
    #n2-ss-18item1 {
        font-size: 55px !important;
    }

    #n2-ss-18item2 {
        font-size: 24px !important;
        width: 75% !important;
    }

    .finder_fee_main_image {
        margin-bottom: -35px !important;
    }

    /*Home Page - Smart Slider code 19*/
    #n2-ss-19item1 {
        font-size: 55px !important;
        width: 90% !important;
    }

    #n2-ss-19item2 {
        font-size: 24px !important;
        width: 75% !important;
    }

    #n2-ss-19item4 {
        font-size: 55px !important;
        /*width: 70% !important;*/
    }

    #n2-ss-19item5 {
        font-size: 24px !important;
        width: 75% !important;
    }

    /*Shopify Integration - Smart Slider 20*/
    #n2-ss-20item2 {
        font-size: 55px !important;
        width: 65% !important;
    }

    #n2-ss-20item3 {
        font-size: 24px !important;
        width: 70% !important;
    }

    /*Low falt rate - Smart Slider 21*/
    #n2-ss-21item1 {
        font-size: 55px !important;
        width: 75% !important;
    }

    #n2-ss-21item2 {
        font-size: 24px !important;
        width: 70% !important;
    }

    /*Tracking - Smart Slider 23*/
    #n2-ss-23item3 {
        font-size: 55px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-23item7 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    /*Become a franchisee - Smart Slider 24*/
    #n2-ss-26item3 {
        font-size: 51px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-26item7 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    #n2-ss-35item1 {
        font-size: 51px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-35item2 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    #n2-ss-36item2 {
        font-size: 51px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-36item3 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    #n2-ss-37item1 {
        font-size: 51px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-37item2 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    #n2-ss-28item3 {
        font-size: 51px !important;
        /*width: 75% !important;*/
    }

    #n2-ss-28item7 {
        font-size: 24px !important;
        /*width: 70% !important;*/
    }

    .hero_image_button {
        width: 16% !important;
    }

    .hero_tracking_button {
        width: 16% !important;
    }

    .tracking-input-field {
        width: 75% !important;
        margin-left: 7% !important;
    }

    .btn-block {
        display: initial;
        width: 25% !important;

    }

    .btn-block-form {
        display: initial;
        width: 16% !important;

    }

    .btn-block-local_operator {
        display: initial;
        width: 35% !important;

    }

    .btn-block-about_us {
        display: initial;
        width: 40% !important;
    }

    .center_usp {
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    /*  3 USP - Green Lines  */
    .borderimg2 {
        border-right: 6px solid transparent;
        border-left: 0px !important;
        padding: 15px;
        border-image: url(https://mailplus.com.au/wp-content/uploads/2021/02/divider.png) 30 stretch;
        margin-bottom: 0px !important;
    }

    .borderimg2centreusp {
        border-right: 6px solid transparent;
        border-left: 0px !important;
        padding: 15px;
        padding-left: 0px !important;
        border-image: url(https://mailplus.com.au/wp-content/uploads/2021/02/divider.png) 30 stretch;
        margin-bottom: 0px !important;
    }

    .borderimgnone2 {
        border-right: 0px solid transparent;
        border-left: 0px !important;
        padding: 15px;
        padding-left: 0px !important;
        border-image: url(https://mailplus.com.au/wp-content/uploads/2021/02/divider.png) 30 stretch;
        margin-bottom: 0px !important;
    }

    .tpro-client-testimonial {
        margin: 0px 130px 30px 130px !important;
    }

    .vc_toggle_title h4 {
        font-family: 'objectsans-bold' !important;
        font-size: 25px !important;

    }

    .vc_toggle_icon {
        float: right;
        margin-top: 20px;
    }

    /*All header text font size*/
    .page-header-text {
        font-size: 40px !important;
    }

    /*All body text font size*/
    .page-body-text {
        font-size: 24px !important;
    }

    /*Heading for the form*/
    .main-text-form {
        font-size: 40px !important;
    }

    .sub-text-form {
        font-size: 24px !important;
    }

    .checkbox-label {
        padding-left: 0px !important;
    }

    .checkbox-input {
        margin-top: 8px !important;
        position: relative !important;
        width: 2% !important;
    }

    #bio_bag_gif_left {
        margin-right: -100px !important;
    }

    #bio_bag_gif_right {
        margin-left: -100px !important;
    }



}

.mobile-van-gif {
    display: none;
}

@media (min-width: 1920px) {
    #menu-primary {
        width: 105%;
        margin-left: -60px
    }

    .tpro-client-testimonial {
        margin: 0px 130px 30px 130px !important;
    }

    .checkbox-label {
        padding-left: 0px !important;
    }

    .checkbox-input {
        width: auto !important;
        margin-top: 8px !important;

    }

    #bio_bag_gif_left {
        margin-right: -100px !important;
    }

    #bio_bag_gif_right {
        margin-left: -100px !important;
    }

}

@media (max-width: 1180px) {

    /*    .mobile_hide_menu {
        display: none !important;
    }

    .visible-xs{
        display: block !important;
    }*/

    /*    .mobile_show_menu {
        display: block !important;
    }*/

    .tracking-input-field {
        width: 75% !important;
        margin-left: 7% !important;
    }

    .checkbox-input {
        width: auto !important;
        margin-top: 8px !important;
        /*      padding-left: 25px !important; */
    }

    .checkbox-label {
        padding-left: 0px !important;
    }


    #n2-ss-23 .n2-ss-slider-1 .n2-ss-slider-2 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-26 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    .dropdown__content {
        width: 110% !important;
    }

    /*Tick Image Check List*/
    .check_img_list li {
        padding-left: 40px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/Check-2.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        line-height: 1.;
        margin-bottom: 18px !important;
        list-style: none !important;
        background-size: 18px !important;
        text-align: left !important;
    }

    .numbered_list_1 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number1.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 30px !important;
    }


    .numbered_list_2 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number2.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_3 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number3.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_4 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number4.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_5 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number5.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .hero_tracking_button {
        width: 35% !important;
    }

    /*        #bio_bag_gif_left{
        margin-right: -100px !important;
    }

    #bio_bag_gif_right{
        margin-left: -100px !important;
    }*/


}

@media (max-width: 1024px) {
    .tracking-input-field {
        width: 75% !important;
        margin-left: 7% !important;
    }

    .checkbox-input {
        width: auto !important;
        margin-top: 8px !important;
    }

    .checkbox-label {
        padding-left: 0px !important;
    }


    #n2-ss-23 .n2-ss-slider-1 .n2-ss-slider-2 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-26 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-36 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-36item2 {
        /* font-size: 51px !important; */
        text-align: center;
        /*width: 75% !important;*/
    }

    #n2-ss-36item3 {
        /* font-size: 24px !important; */
        text-align: center;
        /*width: 70% !important;*/
    }

    .dropdown__content {
        width: 110% !important;
    }

    /*Tick Image Check List*/
    .check_img_list li {
        padding-left: 40px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/Check-2.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        line-height: 1.;
        margin-bottom: 18px !important;
        list-style: none !important;
        background-size: 18px !important;
        text-align: left !important;
    }

    .numbered_list_1 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number1.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 30px !important;
    }


    .numbered_list_2 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number2.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_3 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number3.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_4 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number4.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .numbered_list_5 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number5.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 30px !important;
        margin-bottom: 20px !important;
        line-height: 1.2;
    }

    .hero_tracking_button {
        width: 35% !important;
    }

    /*    #bio_bag_gif_left{
        margin-right: -100px !important;
    }

    #bio_bag_gif_right{
        margin-left: -100px !important;
    }*/

}


/* Mobile View */
@media (max-width: 768px) {
    .ig_grid_row2_col1 {
        margin-bottom: 12px !important;
        padding-top: 15px !important;
    }

    .finder_fee_points {
        margin-bottom: 0px !important;
    }

    .checklist_col1 {
        margin-bottom: 0px !important;
    }

    .tpro-client-testimonial {
        margin: 0px 30px 30px 30px !important;
    }

    .tpro-testimonial-text {
        font-size: 18px !important;
        /*padding-bottom: 10px !important;*/
    }

    /*Heading for the form*/
    .main-text-form {
        font-size: 30px !important;
    }

    .sub-text-form {
        font-size: 18px !important;
    }

    #n2-ss-23 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-26 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-28 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-29 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-30 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-31 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-32 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-33 .n2-ss-slide-backgrounds {
        display: none !important;
    }

    #n2-ss-36item2 {
        /* font-size: 51px !important; */
        text-align: center !important;
        /*width: 75% !important;*/
    }

    #n2-ss-36item3 {
        /* font-size: 24px !important; */
        text-align: center;
        /*width: 70% !important;*/
    }

    /*     .n2-ss-layer.n2-ow{
        margin: 0px !important;
    } */
    .btn-bg1 {
        margin-top: 20px !important;
    }

    .hero_image_button {
        font-size: 13px !important;
    }

    .hero_tracking_button {
        width: 35% !important;
    }

    .tracking-input-field {
        width: 75% !important;
        margin-left: 7% !important;
    }

    .vc_toggle_title h4 {
        font-family: 'objectsans-bold' !important;
        font-size: 20px !important;
    }

    /*All header text font size*/
    .page-header-text {
        font-size: 32px !important;
        text-align: center !important;
    }

    /*All body text font size*/
    .page-body-text {
        font-size: 18px !important;
        text-align: center !important;
    }

    .blog-header {
        margin-bottom: 0px !important;
    }

    .blog-header-social-links {
        text-align: left !important;
    }

    /*Tick Image Check List*/
    .check_img_list li {
        padding-left: 40px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/Check-2.png) no-repeat 0px 0px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        line-height: 1.5;
        margin-bottom: 25px !important;
        list-style: none !important;
        background-size: 26px !important;
        text-align: left !important;
    }

    /*Number List - Number 1*/
    .numbered_list_1 {
        padding-left: 50px !important;
        background: url(https://mailplus.com.au/wp-content/uploads/2021/02/number1.png) no-repeat 0px 5px !important;
        background-repeat: no-repeat !important;
        background-position: 0px 08px;
        list-style: none !important;
        background-size: 36px !important;
        margin-bottom: 20px !important;
        line-height: 1.25;
    }

    .wp-image-444 {
        display: none;
    }

    .mobile-van-gif {
        display: block;
        widows: 100% !important;
        margin-bottom: 25px !important;
    }

    .checkbox-label {
        padding-left: 0px !important;
        text-align: center !important;
        display: contents;
    }

    .checkbox-input {
        /*      width: 100% !important; */
        position: relative !important;
        -webkit-appearance: checkbox !important;
        margin-right: 0px !important;
    }

    .bio_table_margin_bottom {
        margin-bottom: 0px !important;
    }
}



@media (max-width: 812px) {

    #n2-ss-36item2 {
        /* font-size: 51px !important; */
        text-align: center !important;
        /*width: 75% !important;*/
    }

    #n2-ss-36item3 {
        /* font-size: 24px !important; */
        text-align: center !important;
        /*width: 70% !important;*/
    }

    .mobile_hide_menu {
        display: none !important;
    }

    .n2-ss-item-content .n2-ow {
        text-align: center !important;
    }

    .mobile_show_menu {
        display: block !important;
    }

    /*     .n2-ss-layer.n2-ow{
        margin: 0px !important;
    } */

    .dropdown__content {
        padding-left: 20px !important;
        /*      width: 75% !important;; */
    }

    .checkbox-label {
        padding-left: 0px !important;
        text-align: center !important;
        display: contents;
    }

    .checkbox-input {
        /*      width: 100% !important; */
        position: relative !important;
        -webkit-appearance: checkbox !important;
    }

    .bio_table_margin_bottom {
        margin-bottom: 0px !important;
    }


}

.cbcontainer {
    /*   display: inline-block; */
}

/* .checkbox {
  text-align: right;
}
 */
.checkbox input {
    /*   float: right; */
    /*   position: relative !important; */
    /*   margin: 7px !important; */
}